.editor-container {
  background-color: #f4f4f4;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 5px;
}

.editor {
  display: flex;
  width: 100%;
}

.editor textarea {
  flex: 1;
  resize: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-right: 8px;
}

.editor button {
  background-color: #1f2322;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editor button:disabled {
  background-color: #9b9999;
  cursor: not-allowed;
}